<footer class="sticky-top bg-light">
    <!-- Section: HELP -->
    <section class="mb-5">
        <!-- Grid container -->
        <div class="container-fluid border-top">
            <div class="row m-4 fs-4 text-center">
                <div class="text-center font-weight-bold">
                  {{ _('A technical problem? Contact the') }}
                  <a class="text-primary" href="{{ config['EXTERNAL_LINK_HELP'] }}" target="_blank">
                      {{ _('help desk') }}
                  </a>
                </div>
            </div>
        </div>
        <!-- Grid container -->
    </section>
    <!-- Section: HELP -->
    <!-- Section: Copyright -->
    <section class="mt-4 bg-dark">
        <div class="text-center text-white p-3">
          <span class="mb-3 mb-md-0">Copyright © 2019-2024, </span>
          ADE-Scheduler
          <a class="px-1 text-white" href="https://github.com/ADE-Scheduler/ADE-Scheduler" target="_blank"> <i class="px-1 bi bi-github"></i></a>
        </div>
        <div class="text-center text-white p-3">
            <span class="px-1">{{ _('An open-source software created by') }} Gilles Poncelet, Louis Navarre {{ _('and') }} Jérome Eertmans</span>
        </div>
    </section>
    <!-- Section: Copyright -->
</footer>
